.TextAreaLabel {
    display         : flex;
    justify-content : flex-start;
    align-items     : center;
    width           : -moz-fit-content;
    width           : fit-content;
    padding         : 5px 10px;
    color           : white;
    background-color: #1976d2;
    border-radius   : 4px;
}